body {
  margin: 10;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {  
  overflow: hidden;
  background-color: darkgreen;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover:not(.active) {
  background-color: #f2f2f2;
  color: black;
}

.topnav a:focus
{
    background-color: #EAB126;
}

.clicked {
  background-color: red;
}


.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.circle-progress-value {
	stroke-width: 6px;
	stroke: hsl(320, 80%, 60%);
	stroke-dasharray: 4 1;
}
.circle-progress-circle {
	stroke-width: 6px;
	stroke: #eee;
}
.circle-progress-text {
	font-weight: bold;
	fill: hsl(180, 80%, 47%);
}


label {    
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {    
    margin: .4rem 20;
}


.hide {
  display: none;
}
    
.myInstanceDIV:hover + .hide {
  display: block;
  color: red;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.mytextinputclasssmall {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;  
  border: 4px solid ;  
  border-color: black;
}

.mytextdisplayclass {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;  
  border: 3px solid ;  
  border-color: black;
}






