<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

<h1 >Create Jira Ticket</h1>
<form action="{% url 'integratedTest:jiraSubmit'%}" method="post">
{% csrf_token %}

<label for="id_summary">Summary:</label><br> 
{%if data%} 
<input type="text" id="id_summary" name="summary"  value={{data.summary}}
      placeholder="Summary for ticket" required>
{%else%} 
<input type="text" id="id_summary" name="summary"  
      placeholder="Summary for the issue" required>
{%endif%} 
<br><br>

<label for="id_description">Description:</label><br> 
{%if data%}  
<textarea id="id_description" name="description" 
        placeholder="description">{{data.description}}
</textarea>
{%else%}
<textarea id="id_description" name="description" rols="100" cols="100"
        placeholder="description">
</textarea>
{%endif%} 
<br> <br>
{%if data%} 
<h2 >Ticket {{data.jira_ID}} created.</h2>
{%else%}
<HR WIDTH="100%" SIZE="3" NOSHADE>
You need to provide server, username, token information to create a Jira ticket. 
<br>
Warning: Token should be kept carefully. This website is not secure enough to safeguard your token. 
<br>
You shouldn't use your admin Jira account/token here.
<br><br>
How to get token:
<br>
https://support.atlassian.com/atlassian-account/docs/manage-api-tokens-for-your-atlassian-account/
<br>
Account->security->Create and manage API tokens
<br><br>
<label for=id_server>Server</label>
<input type="text" id="id_server" name="server" placeholder="https://somename.atlassian.net/" required>
<label for=id_username>User Name</label>
<input type="text" id="id_username" name="username" placeholder="email@someserver" required>
<label for=id_token>Token</label>
<input type="text" id="id_token" name="token" placeholder="token from Jira admin" required>
{%endif%} 
<br>
<h2 id="id_server_warning" name="server_warning" >
Server is not valid, please check.
</h2>
<br><br>      
{%if data%}
    <input type="submit" value="CreateJira" disabled>
{%else%}
    <input type="submit" value="CreateJira">
{%endif%} 


</form>   

<form action="{% url 'integratedTest:reportBug'%}" method="post">
{% csrf_token %}
    <input type="submit" value="Back">
</form> 

<script>
    $(document).ready(function () {
        $('#id_server_warning').hide();

     });
     
    $('#id_server').on("change", function(){        
        var id_server = $('#id_server').val() 
        //alert("filename" + filename)
        if(id_server.endsWith(".atlassian.net/")) {
            if(id_server.startsWith("https://")){
                $('#id_server_warning').hide();
            }
            else{
                $('#id_server_warning').show();
            }                      
        }
        else{
            $('#id_server_warning').show();
        }
        //alert("end")
    });
</script>  





   