<form id="id_save" method="post">
{% csrf_token %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<h1 >Add Gloabl Setting  ({{hostname}}, {{os}}):</h1>
<table> 
  <tr>
      <th>Name:</th>
      
      
  </tr>
  <tr>
  <td><input type="text" id="id_name" name="name" value="setting_" required></td>
  
  </tr>
 
  

  <tr>
  
  <th>user:</th>
  <th>is_active:One active for use for each project on each server.</th>
  </tr>
  <tr>
  
  <td><input type="text" id="id_user" name="user" required></td>  
  <td>
    <input type="checkbox" id="id_is_active" name="is_active" >
  </td>
  </tr>
  
  <tr>
    <th>project_name:</th>  
    <th>Host Name</th>
    <th>OS</th> 
  </tr>
  <tr>
    <td> 
      <select name="project_name" id="id_project_name" >  
        {%for item in projnames %}
          {%if item == name_0 %}
            <option value={{item}} selected>{{item}}</option>
          {%else%}
            <option value={{item}}>{{item}}</option>      
          {%endif%}
        {%endfor%}
      </select>
    </td> 
    <td>
        {{hostname}}
      </td>
      <td>
        {{os}}
    </td>  
  </tr>
  
</table> 
  <input type="hidden" id="id_hostname" name="hostname" value="{{hostname}}">
  <input type="hidden" id="id_ostype" name="ostype" value="{{os}}">
  <input form="id_save" type="submit" value="Save">

</form>

  <form id="id_cancel" action="{% url 'integratedTest:globalsetting'%}" method="post">
    {% csrf_token %}
    <input form="id_cancel" type="submit" formnovalidate value="Cancel">   
  </form>



  