<form id="id_save" method="post">
{% csrf_token %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<h1>Update Gloabl Setting  ({{hostname}}, {{os}}):</h1> 
<table>
  <tr>
      <th>Name:</th>      
      
  </tr>
  <tr>
  <td><input type="text" id="id_name" name="name" value = "{{my_setting.name}}" required></td>
  </tr>
  
  
  
  <tr>  
      <th>user:</th>
      <th>is_active:</th>
  </tr>
  <tr>
      <td><input type="text" id="id_user" name="user" value = "{{my_setting.user}}" required></td>
      <td> 
          {%if my_setting.is_active%}
            <input type="checkbox" id="id_is_active" name="is_active" checked>
                
              {%else%}
                <input type="checkbox" id="id_is_active" name="is_active" >
          {%endif%}
      </td>
  </tr>
  
  <tr>
      <th>project_name</th>
      <th>Host Name</th>
      <th>OS</th>      
  </tr>
  <tr>
      <td>
          <select name="project_name" id="id_project_name" required> 
          {%for item in projnames %}
              {%if my_setting.project_name == item %}
                <option value={{item}} selected>{{item}}</option>
              {%else%}
                <option value={{item}}>{{item}}</option>      
              {%endif%}
          {%endfor%}
          </select>  
      </td>
      <td>
        {{hostname}}
      </td>
      <td>
        {{os}}
      </td>
  </tr>
  
</table>
  <input type="hidden" id="id_hostname" name="hostname" value="{{hostname}}">
  <input type="hidden" id="id_ostype" name="ostype" value="{{os}}">
    
  <input form="id_save" type="submit" value="Update">
</form>

  <form id="id_cancel" action="{% url 'integratedTest:globalsetting'%}" method="post">
    {% csrf_token %}
    <input form="id_cancel" type="submit" formnovalidate value="Cancel">   
  </form>

  