{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<h1 >Scheduler for {{instance_name}}</h1>
  
  <form id="id_form_select" method="post" action="{% url 'integratedTest:scheduler' instance_id%}" >
  {% csrf_token %}
      <select name="schedule_select" id="id_schedule_select" > 
           {%if scheduled_mode == "date"%}
               <option value="date" selected>By Date</option> 
               <option value="cron" >Daily</option>
               <option value="interval" >Interval</option>
            {%elif scheduled_mode == "cron"%}
               <option value="date" >By Date</option> 
               <option value="cron" selected>Daily</option>
               <option value="interval" >Interval</option>
            {%else%}
               <option value="date" >By Date</option> 
               <option value="cron" >Daily</option>
               <option value="interval" selected>Interval</option>
            {%endif%}
      </select>  
  </form>  
 
  
  <form action="{% url 'integratedTest:schedulerSubmit' instance_id%}" method="post">
        {% csrf_token %} 
        {%if scheduled_mode == "date"%}
            <label for="id_run_time">Select Date/Time to run:</label>
            <input type="datetime-local" id="id_run_time" name="run_time"> 
            <input type="hidden" id="id_sche_mode" name="sche_mode" value={{scheduled_mode}}>
         {%elif scheduled_mode == "cron"%}
            <label for="id_hour">Input hour/minute for daily run:</label>
            <input type="hidden" id="id_sche_mode" name="sche_mode" value={{scheduled_mode}}>
            <input type="text" id="id_hour" name="run_hour" placeholder="hour">
            <input type="text" id="id_minute" name="run_minute" placeholder="minute">
          {%elif scheduled_mode == "interval"%}
            <label for="id_hour">Input hour/minute for interval run:</label>
            <input type="hidden" id="id_sche_mode" name="sche_mode" value={{scheduled_mode}}>
            <input type="text" id="id_hour" name="run_hour" placeholder="hour">
            <input type="text" id="id_minute" name="run_minute" placeholder="minute">
          {%endif%}        
        <input type="submit" value="SubmitSchedule">    
  </form>
  <form action="{% url 'integratedTest:index'%}" method="post">
        {% csrf_token %}            
        <input type="submit" value="BackToHome">    
  </form> 
<br><br>


<script>

    $(document).ready(function() {    
        $('#id_form_select').on('change', function() {          
          $('#id_form_select').submit()
        });
    });
    
</script>
