{% load static %}

{% if TestCase_list %}
    <ul>
    {% for case in TestCase_list %}
        <li>{{ case.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}