{% load static %}

<div id="id_topnav" class="topnav">
  <a  href="{% url 'integratedTest:index'%}" title="Test instance management.">Home</a>
  <a  href="{% url 'integratedTest:instance_cicd'%}" 
    title="Gitlab CICD pipeline triggered test instance running.">InstanceFromCICD</a>
  <a  href="{% url 'integratedTest:testSuite'%}" 
    title="Test suite defining, modifying, cloning and deleting.">Test Suite</a>
  <a  href="{% url 'integratedTest:testCase'%}"
    title="Test case defining, modifying, cloning and deleting.">Test Case</a>
  <a  href="{% url 'integratedTest:projects'%}"
    title="Project defining, cloning and deleting.">Project</a>
  <a  href="{% url 'integratedTest:scheduled_list'%}"
    title="Test instance scheduled to run">Scheduled List</a>  
  <!--<a  href="{% url 'integratedTest:testset'%} "title="Create Test Set">Test Set</a>-->
  <a  href="{% url 'integratedTest:sysclone'%}"
    title="Moving test cases between testMe servers by json file">System Clone</a>
  <!--<a  href="{% url 'integratedTest:devices'%}" title="Devices Settings">Devices</a>-->
  <a  href="{% url 'integratedTest:settings'%}"
    title="Settings like email list etc.">Settings</a>
  <a  href="{% url 'integratedTest:reportBug'%}"
    title="Create a Jira ticket.">Report Bug</a>
  <!--<a  href="{% url 'integratedTest:upload'%}">Upload Test Script</a>-->
  <!--<a  href="{% url 'integratedTest:sandbox'%}">Sandbox</a>-->
  <!--<a  href="{% url 'integratedTest:globalsetting'%}">Global Settings</a>-->
  <a  href="{% url 'integratedTest:help'%}">Help</a>
  <!--<a  href="{% url 'integratedTest:test'%}">Test</a>-->  
</div>



