{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

<h1 >Select Test Set(or Data Set)</h1>
<b>Project Name:   {{project_name}}</b><br>
<br>

{% if err_msg %}        
    <b style="color:red">{{err_msg}}</b>
{% endif %}

{% if created_from_web %}
<form action="{% url 'integratedTest:index'%}" method="post">
{% csrf_token %} 
    <input type="submit" value="BackToHome">    
</form>
{% else %} 
<form action="{% url 'integratedTest:instance_cicd'%}" method="post">
{% csrf_token %} 
    <input type="submit" value="BackToHome">    
</form>
{% endif %}

{% if ts_list and ts_list|length > 0 %}
<table>
    <tr>
        <th>Testcase Name</th>
        <th>Index In Suite</th>
        <th>Test Set Available List</th>
        <th>Module Name</th>            
    </tr>
    {% for ts_case in ts_list %}
    <tr>
        <td>{{ts_case.case_name}}</td>
        <td>{{ts_case.case_index}}</td>
        <td> 
            <select name={{ts_case.case_index}} id={{ts_case.case_index}} >                        
                {%for item in ts_case.candidates %}
                    {% if item.2 == "selected"%}
                        <option value="{{item.0}},{{item.1}}" selected>{{item.0}}</option>
                    {% else %}
                        <option value="{{item.0}},{{item.1}}">{{item.0}}</option>
                    {% endif %}
                {%endfor%}                       
            </select>    
        </td>  
        <td>{{ts_case.module}}</td>        
    </tr> 
    {% endfor %}
</table>

<form id="id_form_submit" action="{% url 'integratedTest:SubmitTestSet'%}" method="post">
{% csrf_token %} 
    <input type="hidden" name="ins_id" value = "{{ins_id}}" >
    <input type="hidden" name="created_from_web" value = "{{created_from_web}}" >
    <input type="hidden" name="bHaveChanged" value = 'F' >
    <input type="hidden" name="tsStringChanged" value = '' >
    <input type="submit" value="SubmitSelected">    
</form> 
{% endif %}
        
<script>
    $(document).ready(function() {        
        $('select').on('change', function() {
            var case_index = $(this).attr('id')
            var new_ts_string = case_index + ',' + $(this).val()
            //alert('new_ts_string:'+new_ts_string)            
            tsStringChanged = $('input[name="tsStringChanged"]').val()
            if( tsStringChanged == "" ){
                tsStringChanged = new_ts_string + ";"
            }
            else{
                //alert('else')
                let newTSArry = new Array()
                var caseFound = false
                var textArry = tsStringChanged.split(";")
                for( let i = 0; i < textArry.length; i++ ){
                    //alert("loop i="+i)
                    if(textArry[i]==""){
                        break
                    }
                    oneTSsplits = textArry[i].split(",")
                    if( case_index!= oneTSsplits[0]){
                        newTSArry.push(textArry[i])
                        //alert('not found')
                    }
                    else{
                        //alert('found')
                        new_vals = $(this).val().split(",")
                        oneTSsplits[1] = new_vals[0]                        
                        oneTSsplits[2] = new_vals[1]                        
                        newTSArry.push( oneTSsplits.join(',') )
                        caseFound = true
                        //alert('found')
                    }
                }
                tsStringChanged = newTSArry.join(';')
                if(caseFound==false){
                    tsStringChanged = tsStringChanged + ';' + new_ts_string
                }
                
            }
            //alert(tsStringChanged)            
            $('input[name="tsStringChanged"]').val(tsStringChanged)         
            $('input[name="bHaveChanged"]').val('T')
            //alert($('input[name="tsStringChanged"]').val())            
        });
    });    
</script>


