{% extends "integratedTest/base_testsuite_form.html" %}

{% block title %}Edit Test Suite{% endblock %}
{% block select_r %}{%for sel_case in my_selected_case %}
                <option value="{{sel_case}}" title="double click to remove when rep == 1" >{{sel_case}}</option>
            {%endfor %}{% endblock %}
{% block inhidden %}
<input type="hidden" id="id_test_case_list" name="test_case_list" value="{{test_case_list}}">
      <input type="hidden" id="id_group_list" name="group_list" value="{{group_list}}">
{% endblock %}
{% block textsub %}Update{% endblock %}
{% block refresh_middle_clk %}{% url 'integratedTest:editSuite' suite_id%}{% endblock %}
