<form action="{% url 'integratedTest:addInstanceSubmit' %}"  method="post">
{% csrf_token %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<h1 class="addcase">Add Test Instance:</h1>
<table>  
  <tr>
    <th><label for="id_name">Name:</label></th>
    <th><label for="id_suitename">Test Suite:</label></th>
    <th><label for="id_created_by">Created By:</label></th>
  </tr>
   <tr>
      <td>
        <input type="text" id="id_name" name="name" required>
      </td>
      <td>
        {%if context and context.suite_names%}
            <select name="testsuite" id="id_testsuite" required>
                {%for suite_name in context.suite_names %}
                <option value={{suite_name}}>{{suite_name}}</option>
                {%endfor%}
            </select>
        {%else%}
            Please create a test suite first.
        {%endif%}              
      
      </td>
      <td>
        <input type="text" id="id_created_by" name="created_by" placeholder="some human name" required>
      </td>       
  </tr> 
</table> 
    <input type="hidden" name="from_web" value = "{{context.from_web}}" >
    <input type="submit" value="Save">
    {%if from_web == "True" %}
        <a  href="{% url 'integratedTest:index'%}">Cancel(Back to Home)</a>
    {%else%}
        <a  href="{% url 'integratedTest:instance_cicd'%}">Cancel(Back to Home)</a>
    {%endif%}    
</form>
 