{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/folder_view.css' %}">
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

<h1 >Reports for {{instance_name}}</h1>
{% if err %}        
    <b style="color:red">{{err}}</b>
{% endif %}
<p><table>
  <td><b>Select Reports:</b>
  <form id="id_form_select" method="post" action="{% url 'integratedTest:viewReport' instance_id%}" >
      {% csrf_token %}
      <select name="report_list_select" id="id_report_list_select" >
      {%for filename in filenamelist %}
      {%if filename == fname_to_display %}
       <option value="{{filename}}" selected>{{filename}}</option>  
      {%else %}
       <option value="{{filename}}" >{{filename}}</option>
      {%endif %} 
      {%endfor %}  
      </select>  
      </form>
  </td>
  
  <td><b>Compare With</b></td>
  
  <form action="{% url 'integratedTest:reportCompare' instance_id %}" method="post">
  {% csrf_token %} 
  <td><ul id="id_running">
      
      <select name="compare_with" id="id_compare_with" >
          {%for filename in filenamelist %}
          {%if filename != fname_to_display %}
           <option value="{{filename}}" >{{filename}}</option> 
          {%endif %} 
          {%endfor %}  
      </select>
    
  </ul></td>
  
      <td><select name="compare_by" id="id_compare_by" >
        <option value="compareLog" selected>compareLog</option>
        <option value="compareYaml" >compareYaml</option>
        <option value="comparePkl" disabled>comparePkl</option>
        <option value="compareOther" disabled>compareOther</option>
      </td>
      <td>
        <input type="hidden" name="instance_name" value="{{instance_name}}">
        <input type="hidden" name="suite_name" value="{{suite_name}}">
        <input type="hidden" name="project_name" value="{{project_name}}">
        <input type="hidden" name="inst_name" value="{{instance_name}}">
        <input type="hidden" name="left_name" value="{{fname_to_display}}">
        <input type="submit" value="Compare">
        </td>        
    </form>
  
  </table>
  
    {% if from_web %}
        <form action="{% url 'integratedTest:index'%}" method="post">
        {% csrf_token %} 
            <input type="submit" value="BackToHome">    
        </form>
    {% else %} 
        <form action="{% url 'integratedTest:instance_cicd'%}" method="post">
        {% csrf_token %} 
            <input type="submit" value="BackToHome">    
        </form>
    {% endif %}
    
    <form action="{% url 'integratedTest:viewReportDetail' instance_id %}" method="post">
    {% csrf_token %} 
        <input type="hidden" name="report_root" value="{{report_dir}}">
        <input type="submit" value="DetailReport">    
    </form>
  
<table>
<tr> 
    <td>
    <b><lable for="insname">Instance Name:</lable></b></td><td>
    <div id="insname">{{rep_requested.instance_name}}</div>
    </td>
    
    <td>
    <b><lable for="suitename">Suite Name:</lable></b></td><td>
    <div id="suitename">{{rep_requested.suite_name}}</div>
    </td>
    
    <td>
    <b><lable for="runtype">Run Type:</lable></b></td><td>
    <div id="runtype"><b>{{rep_requested.runType}}</b></div>
    </td>
    
    <td>
    <b><lable for="startTotal">Start :</lable></b></td><td>
    <div id="startTotal">{{rep_requested.startTotal}}</div>
    </td>
    
    <td>
    <b><lable for="endTotal">End :</lable></b></td><td>
    <div id="endTotal">{{rep_requested.endTotal}}</div>
    </td>
    
    <td>
    <b><lable for="durTotal">Time Totally Used:</lable></b></td><td>
    <div id="durTotal">{{rep_requested.durTotal}}</div>
    </td>
    
    <td><b><lable for="log">Log:</lable></b></td><td>
    <div id="log">
    <form action="{% url 'integratedTest:displayLog' instance_id%}" method="post">
            {% csrf_token %}            
    <input type="submit" value="Log">  
    <input type="hidden" id="id_rep_name" name="rep_name" value="{{fname_to_display}}">
    <input type="hidden" id="id_suite_name" name="suite_name" value="{{rep_requested.suite_name}}">
    <input type="hidden" id="id_instance_name" name="instance_name" value="{{rep_requested.instance_name}}"> 
    <input type="hidden" id="id_project_name" name="project_name" value="{{project_name}}">            
     </form>
      </div>
      </td>
</tr>
</table>
 
 <br>
 
   <h3 >test cases:</h3>
   <p id="id_case">
   {%for cur_case in rep_requested.test_cases %}
        <table>
            <tr>
                <th>Test Case Name</th>
                <th>Branch Name</th>
                <th>Server Name</th>
                <th>Executable</th>
                <th>Parameter List</th>
                <th>Reserved</th>
            </tr>
            <tr>
                {% if cur_case  %}
                <td>{{cur_case.name}}</td>
                <td>{{cur_case.meta.branchName}}</td>
                <td>{{cur_case.meta.serverName}}</td>                
    <td><div class="div_exe" title="{{cur_case.meta.exe}}">{{cur_case.meta.exe_abr}}</div></td>
    <td><div class="my_para" title="{{cur_case.meta.para}}">{{cur_case.meta.para_abr}}</div></td>
                <td>Reserved</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>  
                <td>N/A</td>
                              
                {% endif %}
            </tr>
        </table>
        <table>
            <tr>
            <th>Round</th>
            <th>Result</th>    
            <th>Error Message</th>
            <th>Start At</th>
            <th>End At</th>
            <th>Time Used</th>
            </tr>
                {% if cur_case  %}
                    {%for one_res in cur_case.results %}                
                        <tr>
                            <td>{{one_res.round}}</td>
                            <td>{{one_res.p_f}}</td>
                            <td>{{one_res.msg}}</td>        
                            <td>{{one_res.start}}</td>
                            <td>{{one_res.end}}</td>
                            <td>{{one_res.dur}}</td>
                        </tr>
                    {%endfor %}
                {% else %}
                    <tr>                    
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                {%endif %} 
        </table>
   {%endfor %} 
   </p>    
  <input type="hidden" id="id_fname_selected" name="fname_selected" value="">    
</p>
<br><br>
<script>

    $(document).ready(function() {    
        $('#id_form_select').on('change', function() {          
          $('#id_form_select').submit()
        });
    });
    
</script>


