{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}

<div style="overflow-x:auto;">
<br><br>
<h1 class="tooltiptext">CI/CD Triggered Test</h1>
<table>
<th>This function is in process</th>
<tr>
<td>
Investigation on Gitlab is completed. <br>
Development will continue later. 
</td>
</tr>
</table>
</div>


