{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

<div style="overflow-x:auto;"><br><br>
<h2 >Global Settings(Deprecated. Not used as now.)</h2>
<h3 >The HostName is {{hostname}}, OS is {{os}}</h3>
{% if name_list %}
<table> 
<tr><th>Select One Setting by Name:</th>
<td>
  <form id="id_form_select" method="post" action="{% url 'integratedTest:globalsetting'%}" >
  {% csrf_token %}
  <select name="setting_select" id="id_setting_select" >
  {%for my_settingname in name_list %}
  {%if setting_selected.name == my_settingname %}
   <option value="{{my_settingname}}" selected>{{my_settingname}}</option>  
  {%else %}
   <option value="{{my_settingname}}" >{{my_settingname}}</option>
  {%endif %} 
  {%endfor %}  
  </select>  
  </form>
</td>
</tr> <br><br>  
 
    <tr>
        <th>user</th>
        <th>is active</th>        
    </tr>
    <tr>
        <td>{{setting_selected.user}}</td>
        <td>{{setting_selected.is_active}}</td>        
    </tr>
<br>

    
<br>
 
<tr>

<th>project_name</th>
</tr>
<tr>

<td>{{setting_selected.project_name}}</td>
</tr>
</table> <br><br> 
   

{% else %}
<br><br>
<p >No setting for host:{{hostname}}({{os}}) yet</p>
{% endif %}  

<table>
<tr>
<td>
<form action="{% url 'integratedTest:addSetting' %}" method="post">
{% csrf_token %}
    <input type="submit" value="AddSetting">    
</form>
</td>
{% if name_list %}
<td>
<form action="{% url 'integratedTest:editSetting' setting_selected.id %}" method="post">
{% csrf_token %}
    <input type="submit" value="EditSetting">    
</form>
</td>
<td>
<form action="{% url 'integratedTest:cloneSetting' setting_selected.id %}" method="post">
{% csrf_token %}
    <input type="submit" value="CloneSetting">    
</form>
</td>
<td>
<form action="{% url 'integratedTest:deleteSetting' setting_selected.id %}" method="post">
{% csrf_token %}
    <input type="submit" value="DeleteSetting">    
</form>
</td>
{% endif %}
</tr>
</table>

</div>

<script>

    $(document).ready(function() {    
        $('#id_form_select').on('change', function() {          
          $('#id_form_select').submit()
        });
    });
    
</script>

