{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}
<br><br>
<div style="overflow-x:auto;">

<h1 class="tooltiptext">Help Page</h1>
<h4 class="tooltiptext">Version 0.01</h4>
<br ></br>
<h1>This website is enpowered by Django.</h1>


</div>


