{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
{% include "integratedTest/navigation.html" %}
<div style="overflow-x:auto;">
<br><br>
<h3 >Home</h3>

    <h4 >Test Instance List</h4>
    {% if data_inst %}
        {% if data_inst.error %}        
            <b style="color:red">{{data_inst.error}}</b>
        {% endif %}
        {% if data_inst.command_list and not data_inst.isTrueRun%}        
            <b>command_list:<br>{{data_inst.command_list}}</b>
        {% endif %}
    {% endif %}
    <br>
    <table>
        <form action="{% url 'integratedTest:addInstance' %}" method="post">
        {% csrf_token %}
            {% if data_inst %}
                <input type="submit" value="AddInstance" style="width:120">
            {% else %}  
                <input type="submit" value="AddInstance" disabled>
                Please create a test suite first. No test suite found.
            {% endif %}    
        </form>
        <form action="{% url 'integratedTest:checkPythonModule' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="listPythonModules" style="width:120">    
        </form>
    </table>
<table >
  <tr>
    <th>Action</th>
    <th>Name</th>
    <th>Test Suite</th>    
    <th>Progress</th>
    <th>Result</th>
    <th>Report</th>
    <th>Scheduler</th>
    <th>Last Run On</th>
    <th>Created By</th>
    <th>Created On</th> 
    {% if data_inst and data_inst.inst_meta %}
        <th>Running Info</th>
    {% endif %}    
  </tr>
  
  {% if data_inst and  data_inst.test_instance %}
    {% for instance in data_inst.test_instance %}
    <tr><td>    
        
        <table>
        <tr>
        <form action="{% url 'integratedTest:fakeRunInstance' instance.id%}" method="post">
            {% csrf_token %}
                <input type="submit" value="FakeRun" style="width:100">
                <input type="hidden" id="id_sche_mode" name="sche_mode" value="interval">
                <input type="hidden" id="id_hour" name="run_hour" value=0>
                <input type="hidden" id="id_minute" name="run_minute" value=0>
            </form>
        </tr><tr>
            <form action="{% url 'integratedTest:runInstance' instance.id%}" method="post">
            {% csrf_token %}
                <input type="submit" value="Run" style="width:100">
                <input type="hidden" id="id_sche_mode" name="sche_mode" value="interval">
                <input type="hidden" id="id_hour" name="run_hour" value=0>
                <input type="hidden" id="id_minute" name="run_minute" value=0>
            </form>
        </tr><tr>
            <form action="{% url 'integratedTest:refreshBranchInfo' instance.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="refreshInfo" style="width:100">    
            </form>
        </tr><tr>
            <form action="{% url 'integratedTest:viewConfig' instance.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="viewConfig" style="width:100">    
            </form>
        </tr>
        <tr>
            <form action="{% url 'integratedTest:editConfig' instance.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="editConfig" style="width:100">    
            </form>
        </tr>
            {% if data_inst and data_inst.project_name %}
            <tr><form action="{% url 'integratedTest:selTestSet' instance.id %}" method="post">
                {% csrf_token %}
                    <input type="submit" value="selectTestSet" style="width:100">    
                </form>
            </tr>
            {% endif %}
            
            {% if data_inst and data_inst.project_name %}
            <tr><form action="{% url 'integratedTest:selBranch' instance.id %}" method="post">
                {% csrf_token %}
                    <input type="submit" value="selectBranch" style="width:100" 
                        title="A bit slow. Need 10 seconds or more.">    
                </form></tr>
            {% endif %}
        <tr>
            <form action="{% url 'integratedTest:cloneInstance' instance.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Clone" style="width:100">    
            </form></tr><tr>
            <form action="{% url 'integratedTest:deleteInstance' instance.id%}" method="post">
            {% csrf_token %}            
                <input type="submit" value="Delete" style="width:100">    
            </form></tr>
        </table>
        </td>
        <td>{{ instance.name }}</td>
        <td >
            {{ instance.testsuite }}        
        </td>
        {% if instance.progress == 0 %}
            <td class="progress_0" title="{{instance.progress}}"></progress></td>
        {% else %}
            <td class="progress" title="{{instance.progress}}"></progress></td>
        {% endif %}
        <td>{{ instance.test_result }} </td>
        <td><a href="{% url 'integratedTest:viewReport' instance.id%}">Report</a></td>
        <td><a href="{% url 'integratedTest:scheduler' instance.id%}">Scheduler</a></td>
        <td>{{ instance.last_run }}</td>
        <td>{{ instance.created_by }}</td>
        <td>{{ instance.create_datetime }}</td> 
        {% if data_inst.inst_meta %}
         <td>
        {% for key, list in data_inst.inst_meta.items %}
            {% if key == instance.id%}
                {% for value in list %}
                    <b>project</b>:{{ value.project_name }}<br><b>module</b>:{{ value.module_name }}<br><b>server</b>:<br>{{ value.gitserver }}<br><b>branch:</b>{{ value.branch }}<br><b>TestSet:</b>{{ value.TestSet }}<br><br>
                {% endfor %}                
            {% endif %}
        {% endfor %}
         </td>
        {% endif %}
        </tr>
    {% endfor %}
  {% else %}
    <tr>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>  
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
    </tr>
  {% endif %}    
</table>       
</div>

<hr width=20px></hr>
<hr width=20px></hr>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static "jquery.circle-progress.js" %}"></script>
<script>
    jQuery(function($) {
        valuePro = parseInt($('.progress').attr("title"))
        
        $('.progress_0').circleProgress({	
            max: 100,
            fill: {
              gradient: ["red", "orange"]
            },
            value: 100,	
            textFormat:"percent",    
        });
        $('.progress').circleProgress({	
            max: 100,
            fill: {
              gradient: ["red", "orange"]
            },
            value: valuePro,	
            textFormat:"percent",    
        });
    });
</script>



