{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}

<div class="main" style="overflow-x:auto;">
<br>
<table>
  <tr>
    <h4 class="tooltiptext">Project List</h4>
    <div>
        <form action="{% url 'integratedTest:addProject' %}" method="post">
        {% csrf_token %}
            <input type="submit" value="AddProject" style="width:100">    
        </form>
        <hr width=20px></hr>
    </div>
    <th>Actions</th>
    <th>Project Name</th>
    <th>Module List</th>   
    <th>CreatedOn</th>
    <th>CreatedBy</th>
  </tr>
  {% if proj_list %}
  {% for proj in proj_list %}
    <tr>    
        <td>
        
        <hr width=10px></hr>
        <form action="{% url 'integratedTest:editProject' proj.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Edit" style="width:100">    
        </form>
        <form action="{% url 'integratedTest:cloneProject' proj.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Clone" style="width:100">    
        </form>
        <form action="{% url 'integratedTest:deleteProject' proj.id%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" style="width:100">    
        </form>
        </td>
        <td>
        {{ proj.name }}
        </td>        
        <td>{{ proj.module_list }}</td>
        <td>{{ proj.create_datetime }}</td>
        <td>{{ proj.created_by }}</td>         
    </tr>
    {% endfor %}
  {% else %}
    <tr>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>              
    </tr>
  {% endif %}
  
</table>

<hr width=20px></hr>


</div>

