{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
{% include "integratedTest/navigation.html" %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

<h4 class="tooltiptext">Repository Information</h4>

<div style="display: table-row;" ><label for="id_report_list_select">Select Reports</label>
  <form id="id_form_select" method="post" action="{% url 'integratedTest:viewReport' instance_id%}" >
  {% csrf_token %}
  <select name="report_list_select" id="id_report_list_select" >
  {%for filename in filenamelist %}
  {%if filename == fname_to_display %}
   <option value="{{filename}}" selected>{{filename}}</option>  
  {%else %}
   <option value="{{filename}}" >{{filename}}</option>
  {%endif %} 
  {%endfor %}  
  </select>  
  </form>
</div>


