{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>


<br><br>
<h1 class="tooltiptext">Report Bug</h1>

<br ></br>
<h3>To DO</h3>
<h4 >1. Report bug based on  and create Jira ticket if any.</h4>
<form action="{% url 'integratedTest:createJiraTicket' %}" method="post">
        {% csrf_token %}
            <input type="submit" value="CreateJira">
</form>
<br><br>

<h4 >2. Report bug about this TestMe framework.</h4>
<form action=#reportBug method="post">
        {% csrf_token %}
<input type="submit" value="ReportBug">
</form>
<br><br>

