{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}

<div style="overflow-x:auto;">
<br><br>
<h1 class="tooltiptext">sand box not ready</h1>

</div>


