{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
{% include "integratedTest/navigation.html" %}
<div style="overflow-x:auto;">
<br><br>
<h1>Schedule List</h1>
<table>
  <tr>
    <th >Action</th>
    <th >Schedule ID</th>
    <th>Scheduled Instance Name</th>
    <th>Test Suite</th>    
    <th>Next Run Time(UTC time)</th>     
  </tr>
  
  {% if schedule_inst %}
    {% for schedule in schedule_inst %}
    <tr>    
        <td>
        <form action="{% url 'integratedTest:editSchedule' schedule.id%}" method="post">
        {% csrf_token %}
            <input type="submit" value="Edit" disabled>
        </form>        
        <form action="{% url 'integratedTest:deleteSchedule' schedule.id%}" method="post">
        {% csrf_token %}            
            <input type="submit" value="Delete">    
        </form>
        </td>
        <td>{{ schedule.id }}</td>
        <td>{{ schedule.name }}</td>
        <td >
            {{ schedule.suite }}        
        </td>  
        <td>{{ schedule.next_run_time }}</td>
          
        </tr>
    {% endfor %}
  {% else %}
    <tr>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>    
    </tr>
  {% endif %}    
</table>       
</div>

