{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
{% include "integratedTest/navigation.html" %}
<h1 >Settings</h1>


<h2 >Email List</h2>
<table>

<tr>
    <th>check</th>
    <th>list</th>
</tr>

<form action="{% url 'integratedTest:settings' %}" method="post">
{% csrf_token %}
    <input type="submit" value="DeleteEmail">
    <input type="hidden" id="id_action" name="action" value="del">

{%if emails  %}
{%for item in emails %}
<tr>
    <td><input class="email" type="checkbox" value="{{item}}" name="email"></td>
    <td>
        <li >
            {{item}}
        </li>                  
    </td> 
    
</tr>
{%endfor%}
{%endif  %} 
</form>
<form id="id_add" action="{% url 'integratedTest:settings' %}" method="post">
{% csrf_token %}
    <input type="submit" value="AddEmail">
    <input type="hidden" id="id_action" name="action" value="start_add">
</form>
     
</table>




<script>     
    $(document).ready(function() {    
        $('li').on('click', function() {
            if( $(this).attr('class')=="email" ){              
              clk_val = $(this).text().trim()
              $('#id_del_email').val(clk_val)                        
            }
            
        });
    });
    
</script> 