{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
{% include "integratedTest/navigation.html" %}
<br><br><h1>System Clone(Export items to framework/test_me/sysclone.json)</h1>
<br>
<p style="color:red">{{msg}}</p>
<form action="{% url 'integratedTest:syscl_submit' %}" method="post">
{% csrf_token %}

<input type="checkbox" id="export" name="export" checked title="checked means export;unchecked means import">
<b><p id="export_import_text">Export</p></b>
<br><br>
<table>

<h2 class="exportt">Select Export Items</h2>
<tr>
<td>
<input class="exportc" checked type="checkbox" name="exportcase" title="Export test cases">
<p class="exportt">Test Case</p>
</td>
<td>
<input class="exportc" checked type="checkbox" name="exportsuite" title="Export test suites">
<p class="exportt">Test Suite</p>
</td>
<td>
<input class="exportc" checked type="checkbox" name="exportinstance" title="Export test instances">
<p class="exportt">Test Instance</p>
</td>

</tr>
</table>
<table >
<br><br>
<h2 class="importt">Select Import Items</h2>
<tr>
<td>
<input class="importc" disabled="disabled" type="checkbox" id="importcase" name="importcase" title="Import test cases" >
<p class="importt">Test Case</p>
</td>
<td>
<input class="importc" disabled="disabled" type="checkbox" id="importsuite" name="importsuite" title="Import test suites" >
<p class="importt">Test Suite</p>
</td>
<td>
<input class="importc" disabled="disabled" type="checkbox" id="importinstance" name="importinstance" title="Import test instances" >
<p class="importt">Test Instance</p>
</td>

</tr>

</table>
    <input type="submit" value="Submit">
</form>


<script>

$(document).ready(function() {        
    $('#export').change(function() {
            var chEx = $("#export").prop('checked')
            
            if(chEx==false){
                //alert("chEx==false")
                $('.exportc').attr('disabled', true)
                $('.exportt').css('color', "grey")
                $('.importc').attr('disabled', false)
                $('.importt').css('color', "black")
                $('#export_import_text').text('Import')
            }else{
                //alert("chEx==true")
                $('.exportc').attr('disabled', false)
                $('.exportt').css('color', "black")
                $('.importc').attr('disabled', true)
                $('.importt').css('color', "grey")
                $('#export_import_text').text('Export')
            }            
        });
    }); 
    
    
</script>



