{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
{% include "integratedTest/navigation.html" %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

<h4 class="tooltiptext">For Debug</h4>

<table>
{% for instance in display_list %}

<ul>
    {% for key, value in instance.items %}
        <li><b>{{ key }}:</b>  {{ value }}<li>
    {% endfor %}
</ul>
{% endfor %}


</table>



