{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}

<div class="main" style="overflow-x:auto;">
<br>
<table>
  <tr>
    <h4 class="tooltiptext">Test Case List</h4>
    {% if context and context.error %}        
        <b style="color:red">{{context.error}}</b>        
    {% endif %}
    <div>
        <form action="{% url 'integratedTest:addCase' %}" method="post">
        {% csrf_token %}
            <input type="submit" value="AddCase" style="width:100">    
        </form>
        <hr width=20px></hr>
    </div>
    <th>Action</th>
    <th>Case Name</th>
    <th>Executable</th>
    <th>Parameter List</th>
    <th>Executable Type</th>
    <th>Project Name</th>
    <th>Module</th>
    <th>CreatedOn</th>
    <th>CreatedBy</th>
  </tr>
  {% if TestCase_list %}
  {% for case in TestCase_list %}
    <tr>    
        <td>
        
        <hr width=10px></hr>
        <form action="{% url 'integratedTest:editCase' case.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Edit" style="width:100">    
        </form>
        <form action="{% url 'integratedTest:cloneCase' case.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Clone" style="width:100">    
        </form>
        <form action="{% url 'integratedTest:deleteCase' case.id%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" style="width:100">    
        </form>
        </td>
        <td>
        {{ case.name }}
        </td>
        <td>{{ case.executable }}</td>
        <td>{{ case.parameter_list }}</td>
        <td>{{ case.executable_type }}</td>
        <td>{{ case.project_name }}</td>
        <td>{{ case.module_name }}</td>        
        <td>{{ case.create_datetime }}</td>
        <td>{{ case.created_by }}</td>    
    </tr>
    {% endfor %}
  {% else %}
    <tr>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>  
        <td>N/A</td>
        <td>N/A</td>         
    </tr>
  {% endif %}
  
</table>

<hr width=20px></hr>


</div>

