{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}

<div style="overflow-x:auto;">
<br><br><br>
<table>
  <tr>
    <h4 >Test Suite List</h4>
    {% if error %}        
            <b style="color:red">{{error}}</b>
    {% endif %}
    <div>
        <form action="{% url 'integratedTest:addSuite' %}" method="post">
        {% csrf_token %}

            {% if testcases %}
                <input type="submit" value="AddSuite" style="width:100">
            {% else %} 
                <input type="submit" value="AddSuite" style="width:100" disabled>
                Please create a test case first. No test case found.
            {% endif %}
                
        </form>
        <hr width=20px></hr>
    </div>
    <th>Action</th>
    <th>Suite Name</th>
    <th>Test Case List</th>
    <th>Project Name:</th>
    <th>Test Type</th>
    <th>CreatedOn</th>
    <th>CreatedBy</th>
  </tr>
  {% if test_suite_list %}
  {% for suite in test_suite_list %}
    <tr>
        <td>
        <hr width=10px></hr>
        <form action="{% url 'integratedTest:editSuite' suite.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Edit" style="width:100">    
        </form>
        <form action="{% url 'integratedTest:cloneSuite' suite.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Clone" style="width:100">    
        </form>
        <form action="{% url 'integratedTest:deleteSuite' suite.id%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" style="width:100">    
        </form>
        </td>
        
        <td>{{ suite.name }}</td>
        <td>
        {% for case_str in suite.cases_as_list %}
            {{ case_str }}<br>
        {% endfor %}        
        </td> 
        <td>        
        {{ suite.project_name }}
        </td> 
        <td>{{ suite.test_type }}</td>         
        <td>        
        {{ suite.create_datetime }}
        </td>
        <td>{{ suite.created_by }}</td>    
    </tr>
  {% endfor %}
  {% else %}
    <tr>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td> 
        <td>N/A</td> 
        <td>N/A</td>
    </tr>
  {% endif %}
</table>
</div>
<hr width=20px></hr>


