{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/folder_view.css' %}">
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
{% include "integratedTest/navigation.html" %}
<br><br>
<h1 >Test Set</h1>
<form action="{% url 'integratedTest:testsetSubmit' %}" method="post">
{% csrf_token %}
{% if error %}        
    <b style="color:red">{{error}}</b>
{% endif %}
<table>  
  <tr>      
      <th><label for="id_project_name">Projects</label></th> 
      <th><label for="id_test_type">Test Types</label></th>
      <th><label for="id_module_name"><b>Modules</b></label></th>
  </tr>
  <tr>
      <td> 
          <select name="project_name" id="id_project_name" >  
            {%for item in PROJS %}
                {%if curproj and item == curproj %}
                    <option value={{item}} selected>{{item}}</option>
                {%else%}
                    <option value={{item}}>{{item}}</option>
                {%endif %}
            {%endfor%}
          </select>
      </td>
      <td> 
          <select name="test_type" id="id_test_type" >  
            {%for item in TTYPES %}
            {%if curttype and item == curttype %}
                <option value={{item}} selected>{{item}}</option>
                {%else%}
                <option value={{item}}>{{item}}</option>
              {%endif %}
            {%endfor%}    
          </select> 
        </td>
      <td> 
          <select name="module_name" id="id_module_name" >  
            {%for item in MODULES %}
                {%if cur_mod and item == cur_mod %}
                    <option value={{item}} selected>{{item}}</option>
                {%else%}
                    <option value={{item}}>{{item}}</option>
                {%endif %}
            {%endfor%}
          </select>
      </td>
      
  </tr>

  <tr>
      <th><label for="id_tsname">Test Set Name</label></th>
      <th><label for="id_wavdir">Wave Folder Name</label></th>
      <th><label for="id_dataset">Data Set Folder</label></th>
  </tr>
  <tr>  
    <td><input id="id_tsname" name="tsname" type="text" style="width:100" value="{{curtsname}}" title="Anyname starts with ts_" ></td>
    <td><input id="id_wavdir" name="wavdir" type="text" style="width:200" value="{{dirClked}}" title="Anyname starts with wav" placeholder="wav_google_v1"></td>
    <td>
        
            <ul >
            <table >
                <tr>
                <th>check</th>
                <th>list</th>
                </tr>
                
                {%for item in dirs %}
                <tr >
                    {%if dirClked and dirClked == item %}
                        <td><input type="checkbox" value="{{item}}" name="dirItem" checked></td>                    
                    {%else  %}
                        <td><input type="checkbox" value="{{item}}" name="dirItem"></td>
                    {%endif%}
                    <td>
                    <li class="dirlist">
                        <img src="{% static 'image/folder.png' %}" alt="folder">
                        <span class="caret">{{item}}</span>
                    </li>
                    </td>
                </tr>
                {%endfor%}                
            </table>
            </ul>
            {%if files %}
            <ul >
            
            <table >
                <tr>
                <th>check</th>
                <th>list</th>
                </tr>
                {%for item in files %} 
                    <tr>
                    {%if fileClked and fileClked == item %}
                        <td><input type="checkbox" value="{{item}}" name="fileItem" checked></td>                    
                    {%else  %}
                        <td><input type="checkbox" value="{{item}}" name="fileItem"></td>
                    {%endif%}
                    <td>
                    <li class="flist">
                    {%if fileClked and fileClked == item %}
                        <img src="{% static 'image/completed.png' %}" alt="file">                    
                    {%else  %}
                        <img src="{% static 'image/file.png' %}" alt="file">
                    {%endif%}                    
                    <span class="caret">{{item}}</span>
                    </li>
                    </td>
                    </tr>
                {%endfor%}
            <table >
            </ul>
            {%endif%} 
                  
    </td>   
  

</tr>

 
</table>
    <input type="hidden" id="id_cwd" name="cwd" value="{{cwd}}">
    <input type="submit" value="Create">
</form>

<form id="id_f_sel" action="{% url 'integratedTest:testset' %}" method="post">
{% csrf_token %}
    <input type="hidden" id="id_name_clk" name="name_clk" value="">
    <input type="hidden" id="id_fileClked" name="fileClked" value="">
    <input type="hidden" id="id_curtsname" name="curtsname" value="">
    <input type="hidden" id="id_curproj" name="curproj" value="">
    <input type="hidden" id="id_curttype" name="curttype" value="">
    <input type="hidden" id="id_cur_mod" name="cur_mod" value="">
    <input type="hidden" id="id_curcwd" name="cwd" value="{{cwd}}">
</form> 

<script>     
    $(document).ready(function() {    
        $('li').on('click', function() { 
            $('#id_curtsname').val($('#id_tsname').val())
            $('#id_curproj').val($('#id_project_name').val())
            $('#id_curttype').val($('#id_test_type').val())
            $('#id_cur_mod').val($('#id_module_name').val())
            
            if( $(this).attr('class')=="dirlist" ){              
              clk_val = $(this).text().trim()
              $('#id_name_clk').val(clk_val)
              $('#id_f_sel').submit()                           
            }
            if( $(this).attr('class')=="flist" ){              
              clk_val = $(this).text().trim()
              $('#id_fileClked').val(clk_val)                                        
            }
        });
    });
    
</script> 
    


  