{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}

<div style="overflow-x:auto;">
<br><br>
<table>
  <tr>
    <h4 class="tooltiptext">Device List</h4>
    <th>Device Name</th>
    <th>Device Type</th>
    <th>CreatedOn</th>
    <th>CreatedBy</th>
  </tr>
  {% for device in device_list %}
    <tr>
        <td>{{ device }}</td>
        <td>FPGA</td>
        <td>2021-9-24</td>
        <td>Wason</td>
    </tr>
  {% endfor %}
</table>
</div>


