{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}

<div style="overflow-x:auto;">
<br><br>
<table>
  <tr>
    <h4 class="tooltiptext">Integrated Tools</h4>
    <th>Tool Name</th>
    <th>Link</th>    
  </tr>
  {% for suite in test_suite_list %}
    <tr>
        <td>{{ suite }}</td>
        <td>N/A</td>        
    </tr>
  {% endfor %}
</table>
</div>


