{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% include "integratedTest/navigation.html" %}
<br><br>
{% if documents %}
        <ul>
        {% for document in documents %}
            <li>{{ document.docfile.name }}</li>
        <form action="{% url 'integratedTest:uploadviewf' %}" method="post">
            {% csrf_token %}            
            <input type="submit" value="view">  
            <input type="hidden" id="id_file_path" name="file_path" value="{{document.docfile.path}}">
        </form>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'integratedTest:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
            <label for="id_project_name">Project Name:</label>
            <select name="project_name" id="id_project_name" >  
            {%for item in projnames %}
              {%if item == name_0 %}
                <option value={{item}} selected>{{item}}</option>
              {%else%}
                <option value={{item}}>{{item}}</option>      
              {%endif%}
            {%endfor%}
          </select>
        </form>
<p style="margin-left:5em;">
{% if file_content %}

    {%for line in file_content %}
        <p leftmargin=50pt>{{line}}</p>
    {%endfor%}
 
{% endif %}
</p>